In [1]:
import pandas as pd
import glob
import os

In [2]:
path = '/Users/bfulroth/Library/Mobile Documents/com~apple~CloudDocs/Broad Files 2/Sample Bank/1808016_cmpd_database'

os.chdir(path)

pattern = '*.xlsx'
file_list = glob.glob(pattern)
file_list.sort()

file_list

['180816_plate_1.xlsx', '180816_plate_2.xlsx', '180816_plate_3.xlsx']

In [3]:
frames = []

for file in file_list:
    active_file = pd.read_excel(file)
    frames.append(active_file)

df_all = pd.concat(frames)

In [4]:
df_all.head()

  Well     Barcode    Plate
0  A01  1154023441  Plate_1
1  B01  1153788789  Plate_1
2  C01  1153788801  Plate_1
3  D01  1136930577  Plate_1
4  E01  1153836076  Plate_1